.field {
    position: relative;
    height: 2.4em;
    width: 100%;
    text-align: left;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.field:not(:last-child) {
    margin-bottom: .9em;
}

.field label, 
.field input {
    position: absolute;
    margin: 0;
    padding: 0 12px;
    left: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    border: none;
    line-height: 100%;
    transition: all .15s ease-out;
}

.field label {
    top: 0;
    height: 50%;
    z-index: 1;
    font-size: .62em;
    padding-top: .5em;
    color: #343A40;
}

.field input,
.field input:hover,
.field input:focus,
.field input:valid,
.field input:active {
    bottom: .2em;
    /*height: 50%;*/
    /* test 
    /* to replace the js verif of element.validity.valid = true/false property */
    /* and apply css border colors to the parent div  */
    padding: 15px 0 0 10px;
    height: 100%;
    border-radius: 5px;
    /* end test */
    color: #868D96;
    font-size: .75em;
    background-color: transparent;
}


.field input:placeholder-shown:not(:focus) {
    height: 100%;
    bottom: 0;
}

.field input:placeholder-shown:not(:focus) + label {
    top: 25%;
    bottom: 0;
    font-size: .75em;
    color: #868D96;
    padding-top: .3em;
}

.field input:-webkit-autofill,
.field input:-webkit-autofill:hover, 
.field input:-webkit-autofill:focus,
.field input:-webkit-autofill::first-line {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    font-family: var(--default-font);
    font-size: .75rem;
    color: #868D96;
}

.field button {
    position: absolute !important;
    right: 0 !important;
    top: 0.5em !important;
    padding: 0px !important;
    margin: 0 !important;
    border: none !important ;
    height: 100% !important;
    width:20px !important; 
    
}

.clearButton{
   /* visibility: hidden; */
}

.clearButton {
    visibility: hidden;
    background: url(/clear.svg) 1px 1px/18px 18px no-repeat;
    
}

.clearButton_show {

    background: url(/clear.svg) 1px 1px/18px 18px no-repeat;
    visibility:visible;

}
/*
.field input
border: 1px solid #28A745;
box-shadow: 0px 0px 4px 2px #28a745;

*/
.field input:focus {
    box-shadow: 0px 0px 4px 2px #A6CBF3;

    border: 1px solid #A6CBF3
}

.field input:valid {
    box-shadow: 0px 0px 4px 2px #28a745;
    border: 1px solid #28A745
}

.field input:active:invalid {

    box-shadow: 0px 0px 4px 2px #DC3545;

    border: 1px solid #DC3545;
}


.field input:focus:invalid {
    box-shadow: 0px 0px 4px 2px #A6CBF3;

    border: 1px solid #A6CBF3
}

.field input:focus:active {
    box-shadow: 0px 0px 4px 2px #A6CBF3;

    border: 1px solid #A6CBF3
}

.field input:focus {
    box-shadow: 0px 0px 4px 2px #A6CBF3;

    border: 1px solid #A6CBF3
}