.wrapper{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    -moz-box-align: center;
    align-items: center;
    width: 100%;

    top: 0;
    right: 0px;
    
       padding: 0.55em 3em;
    z-index: 2;
      outline: none!important;
    height: calc(var(--header-height) - 20px);
}

.select {
    display: block;
    height: 100%;
    width: 100px;
    background: #ede6db;
    color: #474741;
    border: 3px solid white;
    border-radius: 15px;
      padding: 0 0.5em 0 1em;
    outline: none!important;
}

 select.select {
    
    outline: none!important;
}

select.select button {
    
    outline: none!important;
}
