.title {
    font-weight: 300;
    padding-bottom: .3em;
}

.value {
    font-weight: 600;
    white-space: pre-line;
}

.value:not(:last-child) {
    padding-bottom: 1em;
}

.header {
    font-size: 1.2em;
    padding-bottom: 2em;
}

.item {
    padding: 0.5em 0.5em 1em 0.5em;
    /* border: 2px double  #6c76807a;  */
    border-radius: 10px;
    margin: 0 0 5px 0;
    box-shadow: transparent;
    box-shadow: inset 0px 0px 6px 2px #6c757d70;
  /*  background: #6c757d05;*/
}

@media screen and (min-device-width: 768px) { /* iPad/Desktop */
    .stack {
        padding-top: 0;
        padding-bottom: 0;
    }
}